body {
  background-color: white; }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  background-color: black; }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    nav ul li {
      text-decoration: none;
      text-align: center;
      color: white;
      font-size: 18px; }
      nav ul li a {
        text-decoration: none;
        text-align: center;
        color: silver;
        display: block;
        font-family: Lato;
        padding: 0px 15px 0px 15px; }
        nav ul li a:hover {
          color: saddlebrown;
          background-color: silver; }

.jumbotron {
  min-height: 90vh;
  width: 100%;
  font-family: 'Bree Serif', serif;
  text-shadow: 2px 2px black;
  margin: 0 auto; }
  .jumbotron section {
    float: right;
    padding-right: 45px;
    text-align: center;
    color: papayawhip;
    margin-top: 100px; }
  .jumbotron h1 {
    font-size: 86px; }
  .jumbotron p {
    font-family: Raleway;
    text-shadow: 1px 1px black; }

.links {
  margin: 0 auto; }
  .links a {
    color: papayawhip; }
    .links a:hover {
      color: saddlebrown; }

#about {
  width: 95%;
  margin: 0 auto;
  font-family: Raleway; }
  #about h1 {
    padding: 10px;
    padding-bottom: 3px;
    width: 100%;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px papayawhip;
    margin-top: 30px; }
  #about article {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
    #about article img {
      height: 50px;
      width: 50px;
      float: right;
      padding: 30px;
      margin-left: 50px;
      margin-top: 10px;
      border-left: 1px solid #f8f8f8;
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    #about article h3 {
      font-family: 'Bree Serif', serif;
      margin-left: 10px;
      padding-top: 10px; }
    #about article p {
      font-family: 'Lato', serif;
      padding-bottom: 5px;
      padding: 5px;
      padding-left: 10px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }

#projects {
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: Raleway;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  overflow: hidden; }
  #projects h1 {
    padding: 10px;
    padding-bottom: 3px;
    width: 100%;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px papayawhip;
    margin-top: 30px; }
  #projects .coffee {
    background-color: #330066; }
  #projects .football {
    background-color: #802000; }
  #projects .project {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    /*
        background-color: dimgrey;*/
    font-family: Lato; }
    #projects .project p {
      height: 100px;
      width: 75%;
      overflow: hidden;
      color: white;
      font-family: Lato;
      font-weight: 400;
      line-height: 1.5;
      color: #292b2c;
      height: auto;
      margin-top: 20px; }
    #projects .project img {
      display: block;
      margin: 0 auto;
      padding-top: 15px;
      width: 97% !important; }
    #projects .project .links {
      height: 10vh;
      width: 25%; }

footer {
  border-top: 1px solid black;
  height: 30px;
  text-align: center;
  font-family: Raleway;
  font-weight: bold;
  margin-top: 30px; }

.underline {
  background-image: -webkit-linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-image: -o-linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-image: linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in; }
  .underline:hover {
    background-size: 100% 88%; }
