body {
  background-color: silver;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  /*
    margin: 0 auto;*/ }

nav {
  height: 40px;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  color: silver;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Raleway;
  font-size: 14px;
  z-index: 5; }
  nav a {
    color: silver;
    font-family: Lato; }
  nav:hover {
    color: silver; }

ul {
  background-color: #464b4d;
  width: 100%; }
  ul li {
    float: left;
    width: 10%;
    color: white;
    font-size: 18px;
    list-style: none;
    padding-bottom: 20px; }
  ul a {
    height: 100%;
    text-decoration: none;
    padding: 16px;
    color: white; }
    ul a:visited {
      color: white; }

#home {
  margin-top: 75px; }

.jumbotron {
  background-image: url(styles/utah10.jpg);
  background-size: 100%;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
  height: 500px;
  width: 95%;
  margin-top: 25px;
  border-radius: 25px;
  font-family: 'Bree Serif', serif;
  text-shadow: 2px 2px black;
  margin: 0 auto; }
  .jumbotron section {
    float: right;
    padding-right: 45px;
    text-align: center;
    color: papayawhip;
    margin-top: 100px; }
  .jumbotron p {
    font-family: Raleway;
    text-shadow: 1px 1px black; }

.links {
  margin: 0 auto; }
  .links a {
    color: papayawhip; }
    .links a:hover {
      color: saddlebrown; }

.underline {
  background-image: -webkit-linear-gradient(45deg, silver 0%, #darkslategrey 100%);
  background-image: -o-linear-gradient(45deg, silver 0%, #darkslategrey 100%);
  background-image: linear-gradient(45deg, silver 0%, #darkslategrey 100%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in; }
  .underline:hover {
    background-size: 100% 100%;
    opacity: 0.8; }

#about {
  height: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Raleway;
  position: relative;
  overflow: hidden; }
  #about h1 {
    padding: 10px;
    padding-bottom: 3px;
    width: 100%;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px papayawhip;
    margin-top: 30px;
    font-family: 'Bree Serif', serif; }
  #about article {
    height: 450px;
    width: 90%;
    background-color: ghostwhite;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px 5px #888888;
    overflow-y: scroll; }
    #about article img {
      height: 300px;
      width: 325px;
      float: right;
      padding: 30px;
      margin-left: 50px;
      margin-top: 10px;
      border-left: 1px solid #f8f8f8; }
    #about article h3 {
      font-family: 'Bree Serif', serif;
      margin-left: 10px;
      padding-top: 10px; }
    #about article p {
      font-family: 'Lato', serif;
      padding-bottom: 5px;
      padding: 5px;
      padding-left: 10px; }

#projects {
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  /*    padding-top: 20px;*/ }
  #projects h1 {
    padding: 10px;
    padding-bottom: 3px;
    position: relative;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px papayawhip;
    margin-top: 30px; }

.projects {
  height: 500px;
  width: 90%;
  background-color: oldlace;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px 6px #888888;
  box-shadow: 5px 5px 5px 6px #888888;
  overflow-y: scroll;
  margin: 0 auto;
  /*  .projectImg {


        height: 200px;
        width: 40%;
    }
    .projectAbout {
        height: 200px;
        width: 60%;
    }*/ }
  .projects h1 {
    padding: 10px;
    padding-bottom: 3px;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px papayawhip;
    margin-top: 50px;
    font-family: 'Bree Serif', serif; }

/*.project1 {
    height: 50vh;
    min-height: 50vh;
    width: 50vh;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;



    h2 {
        font-family: 'Bree Serif', serif;
        padding-left: 30px;
    }
}*/
#posts {
  height: 500px;
  min-height: 100vh;
  width: 100%; }
  #posts h1 {
    padding: 10px;
    font-family: 'Bree Serif', serif;
    padding-bottom: 3px;
    text-shadow: 1px 1px papayawhip;
    margin-top: 100px; }
  #posts section {
    width: 85%;
    border: 1px solid papayawhip; }

footer {
  border-top: 1px solid black;
  height: 50px;
  text-align: center;
  font-family: Raleway;
  font-weight: bold; }

.underline {
  background-image: -webkit-linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-image: -o-linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-image: linear-gradient(45deg, silver 0%, darkslategrey 50%, steelblue 100%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in; }
  .underline:hover {
    background-size: 100% 88%; }
