html, body{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

body{
	background-color: silver;
}

nav{
  height: 20px;
  width: 100%;
  background-color: silver;
  position: fixed;
  z-index: 1;
 }


ul{

 background-color: silver;
   &:after{
    content: " ";
    display: block;
    clear: both;
  }


  li{
    float: left;
    width: 12%;
    color: white;
    font-size: 18px;
  	 list-style: none;
  }
  a{
    height: 100%;
    text-decoration: none;
    padding: 16px;
    color: white;
    &:hover{
      background-color: grey;
    }
     &:visited{
      color: white;
    }
  }  
}


.jumbotron{
	 background-image: url(styles/utah10.jpg);
	 background-size: 100%;
	 position: relative;
	 height: 450px;
	 margin-top: 25px;
	 border-radius: 25px;
	 h1{
	 	color: papayawhip;
	 	float: right;
	 	padding-right: 25px;
	 }
	 p{
	 	position: absolute;
	 	color: papayawhip;
	 	float: right;
	 	margin-top:100px;
	 	margin-left: 700px;
	 }
}




@media (min-width: 576px) {  }

@media (min-width: 768px) {  }


@media (min-width: 992px) {}

@media (min-width: 1200px) { }