body {

    background-color: white;
    width: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 40px;
    line-height: 40px;


    ul {

        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: flex-end !important;

        li {

            text-decoration: none;
            text-align: center;
            color: white;
            font-size: 18px;


            a {
                text-decoration: none;
                text-align: center;
                color: silver;
                display: block;
                font-family: Lato;
                padding: 0px 15px 0px 15px;

                &:hover {

                    color: saddlebrown;
                    background-color: silver;
                }
            }
        }
    }
}



#home {
    width: 100%;
    padding-top: 40px;
}


.jumbotron {
    background-image: url(utah10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;


    height: 90vh;
    width: 100%;

    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px black;
    margin: 0 auto;


    .title {
        float: right;
        padding-right: 45px;
        text-align: center;
        color: papayawhip;
        margin-top: 100px;
    }

    h1 {
        font-size: 86px;
    }

    h2 {
        font-family: Raleway;
        text-shadow: 1px 1px black;
    }
}



#about {
    width: 100%;
    margin: 0 auto;
    font-family: Raleway;
    padding-top: 10px;
    /* display: flex;
    flex-flow: column;*/
    h1 {
        padding: 10px;
        padding-bottom: 3px;
        font-family: 'Bree Serif', serif;
        font-size: 36px;

        text-shadow: 1px 1px papayawhip;

        margin-top: 30px;
        margin-left: 15px;
        /*      display: flex;
        flex-flow: column;*/
    }

    .aboutWrap {
        display: inline-flex;


        .about {





            display: flex;
            flex-flow: column;





            h3 {
                font-family: 'Bree Serif', serif;
                margin-left: 35px;
                padding-top: 10px;
            }
            p {
                font-family: 'Lato', serif;
                padding-bottom: 5px;
                padding: 5px;
                padding-left: 40px;
                flex: 1;
            }
        }
        img {

            padding: 0;
            border: 0;
            border-radius: 100%;
            height: 250px;
            width: 250px
        }
    }
}


#projects {

    min-height: 100vh;
    width: 100%;
    margin-top: 0 auto;
    font-family: Raleway;
    overflow: hidden;


    h1 {

        padding: 10px;
        padding-bottom: 3px;

        overflow: hidden;

        font-family: 'Bree Serif', serif;
        font-size: 36px;

        text-shadow: 1px 1px papayawhip;
        margin-top: 30px;
        margin-left: 15px;
    }

    .coffee {
        background-color: #3E336A;

        h2 {
            text-align: center;
            padding-top: 10px;
            color: papayawhip;
        }

        p {

            width: 90%;
            overflow: hidden;
            color: papayawhip;
            font-family: Lato;
            font-weight: 400;
            line-height: 1.5;
            height: auto;
            margin: 20px;
            text-align: center;
        }
        .links {

            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 100%;
            i {
                color: papayawhip;
                justify-content: center;
                padding: 10px;
            }
        }
    }

    .football {
        background-color: #B66B25;

        h2 {
            text-align: center;
            padding-top: 10px;
            color: papayawhip;
        }

        p {
            width: 90%;
            overflow: hidden;
            color: papayawhip;
            font-family: Lato;
            font-weight: 400;
            line-height: 1.5;
            height: auto;
            margin: 20px;
            text-align: center;
        }
        .links {

            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 100%;
            i {
                color: papayawhip;
                justify-content: center;
                padding: 10px;
            }
        }
    }


    .contact {

        h2 {
            text-align: center;
            padding-top: 10px;
            color: black;
        }

        p {

            width: 90%;
            overflow: hidden;
            color: black;
            font-family: Lato;
            font-weight: 400;
            line-height: 1.5;
            height: auto;
            margin: 20px;
            text-align: center;
        }
        .links {

            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 100%;
            i {
                color: black;
                justify-content: center;
                padding: 10px;
            }
        }
    }

    .currency {

        h2 {
            text-align: center;
            padding-top: 10px;
            color: black;
        }

        p {

            width: 90%;
            overflow: hidden;
            color: black;
            font-family: Lato;
            font-weight: 400;
            line-height: 1.5;
            height: auto;
            margin: 20px;
            text-align: center;
        }

        a {
            color: black;
            text-align: center;
        }
        .links {

            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 100%;
            i {
                color: black;
                justify-content: center;
                padding: 10px;
            }
        }
    }

    .project {


        width: 100%;
        margin: 0 auto;
        padding: 15px;
        font-family: Lato;
        box-sizing: border-box;

        img {
            display: block;
            margin: 0 auto;
            padding-top: 15px;
            width: 97% !important;
        }

        .links {}
    }
}


#contact {

    /*   height: 40vh;
    margin-top: 70px;*/
    h1 {


        padding: 10px;
        padding-bottom: 3px;
        /* width: 100%;*/
        font-family: 'Bree Serif', serif;

        text-shadow: 1px 1px papayawhip;
        margin-top: 30px;
        margin-left: 25px;
    }

    .contactLinks {

        width: 100%;

        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: 20px 20px 0px 20px;

        .contactNarrative {
            background-color: goldenrod;

            width: 60%;
            p {
                padding: 45px;
                text-align: left;
                border-right: 1px;
                font-family: Raleway;
                font-weight: 200;
                line-height: 1.5;
                font-size: 20px;

                .bold{
                    font-weight: bold;
                    color: saddlebrown;
            
                }
            }
        }

        a {

            color: black;
   
            justify-content: center;
            text-align: center;
            text-decoration: none;
          
            font-family: Raleway;
            font-weight: 200;
            width: 15%;
           /* border-left: 1px solid black;*/
            padding: 45px;
            padding-top: 75px;

            i{
                vertical-align: top;
                p{
                    padding: 40px;
                }
            }
        }
    }
}




footer {
    border-top: 1px solid black;
    /*height: 30px;*/
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 30px;
    padding: 20px;

    .copywright {
        padding: 10px;
    }
}
















@media only screen and (max-width: 450px) and (min-width: 100px) {

    .jumbotron {

        background-image: url(utah10.jpg);
        background-size: 568px 320px;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;


        font-family: 'Bree Serif', serif;
        text-shadow: 2px 2px black;
        text-align: center;
        margin: 0 auto;
        /*  display: flex;
        flex-flow: row;
*/
        .title {

            color: papayawhip;

            margin-top: 200px;
            flex: 1 1 0;
            margin: 90px auto;
            width: 90%;


            h1 {
                font-size: 24px;
                text-align: center;
            }

            h2 {
                /*    font-family: Raleway;*/
                font-size: 20px;
                text-shadow: 1px 1px black;
                text-align: center;
            }
        }
    }

    #about {
        width: 100%;
        margin: 0 auto;
        /*height: 730px !important;*/
        font-family: Raleway;
        /*   padding-top: -10px;*/
        h1 {
            padding: 10px;
            padding-bottom: 3px;

            /*overflow: hidden;
*/
            font-family: 'Bree Serif', serif;
            font-size: 36px;

            text-shadow: 1px 1px papayawhip;

            margin-top: 30px;
            margin-left: 25px;
        }

        .aboutWrap {
            display: flex;
            flex-flow: column-reverse;
            .about {

                display: flex;
                flex-flow: column;

                h3 {
                    font-family: 'Bree Serif', serif;
                    margin-left: 35px;
                    padding-top: 10px;
                }
                p {
                    font-family: 'Lato', serif;
                    padding-bottom: 5px;
                    padding: 5px;
                    padding-left: 40px;
                    flex: 1;
                }
            }
        }
        img {

            padding: 0;
            border: 0;
            border-radius: 100%;
            height: 25%;
            width: 25%;
            margin: auto;
            width: 50%;
        }
    }
}

nav {
    background-color: black;
    position: fixed;
    z-index: 5;
    width: 100%;
    /*padding: 10px;*/
    height: 40px;
    line-height: 40px;


    ul {

        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;

        li {

            text-decoration: none;
            text-align: center;
            color: white;
            font-size: 16px;


            a {
                text-decoration: none;
                text-align: center;
                color: silver;
                display: block;
                font-family: Lato;
                padding: 0px 15px 0px 15px;

                &:hover {

                    color: saddlebrown;
                    background-color: silver;
                }
            }
        }
    }
}



@media only screen and (max-width: 800px) and (min-width: 450px) {

    nav {
        background-color: black;
        position: fixed;
        z-index: 5;
        width: 100%;
        /*padding: 10px;*/
        height: 40px;
        line-height: 40px;


        ul {

            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {

                text-decoration: none;
                text-align: center;
                color: white;
                font-size: 16px;


                a {
                    text-decoration: none;
                    text-align: center;
                    color: silver;
                    display: block;
                    font-family: Lato;
                    padding: 0px 15px 0px 15px;

                    &:hover {

                        color: saddlebrown;
                        background-color: silver;
                    }
                }
            }
        }
    }

    .jumbotron {

        background-image: url(utah10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

        font-family: 'Bree Serif', serif;
        text-shadow: 2px 2px black;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-flow: row;

        .title {

            color: papayawhip;

            margin-top: 200px;
            flex: 1 1 0;
            margin: 0 auto;
            width: 90%;
            padding-top: 90px;

            h1 {
                font-size: 50px;
                text-align: center;
            }

            h2 {
                font-family: Raleway;
                font-size: 30px;
                text-shadow: 1px 1px black;
                text-align: center;
            }
        }
    }

    #about {
        width: 100%;
        margin: 0 auto;
        /*height: 730px !important;*/
        font-family: Raleway;
        /*   padding-top: -10px;*/
        h1 {
            padding: 10px;
            padding-bottom: 3px;
            text-align: center;
            /*overflow: hidden;
*/
            font-family: 'Bree Serif', serif;
            font-size: 36px;

            text-shadow: 1px 1px papayawhip;

            margin-top: 30px;
            margin-left: 25px;
        }

        .aboutWrap {
            display: flex;
            flex-flow: column-reverse;
            .about {

                display: flex;
                flex-flow: column;

                h3 {
                    font-family: 'Bree Serif', serif;
                    margin-left: 35px;
                    padding-top: 10px;
                }
                p {
                    font-family: 'Lato', serif;
                    padding-bottom: 5px;
                    padding: 5px;
                    padding-left: 40px;
                    flex: 1;
                }
            }
        }
        img {

            padding: 0;
            border: 0;
            border-radius: 100%;
            height: 25%;
            width: 25%;
            margin: auto;
            width: 50%;
        }
    }
}