
html, body{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

*{
  box-sizing:  border-box;
}

body{
	background-color: silver;
}

nav{
  height: 30px;
  width: 100%;
  position: fixed;
  font-family: Raleway;
  font-size: 12px;
  z-index: 2;
  border-bottom: 1px solid #f8f8f8;
 }



ul{

 background-color: #464b4d;


 li{
    float: left;
    width: 10%;
    color: white;
    font-size: 18px;
    list-style: none;


  }
  a{
    height: 100%;
    text-decoration: none;
    padding: 16px;
    color: white;
    &:hover{
      background-color: grey;
    }
     &:visited{
      color: white;
    }
  }  
}

#home{

  margin-top: 75px;

}
.jumbotron{
	 background-image: url(styles/utah10.jpg);
	 background-size: 100%;
   position: relative;
   box-shadow: 10px 10px 5px #888888;
	 height: 700px;
	 margin-top: 25px;
	 border-radius: 25px;
   font-family: 'Bree Serif', serif;
   text-shadow: 2px 2px black;

   section{
    float: right;
    padding-right: 45px;
    text-align: center;
    color: papayawhip;
    margin-top: 100px;

	 }

   p{
    font-family: Raleway;
    text-shadow: 1px 1px black;
   }
}

.links{
  margin: 0 auto;
  a{
    color: papayawhip;

      &:hover{
    color: saddlebrown;

    }

   
  }
}

#projects{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;

  h1{
    padding: 10px;
    font-family: 'Bree Serif', serif;
    padding-bottom: 3px;
    text-shadow: 1px 1px papayawhip;

  }



.mdl-card{
  float: left;
  margin-left: 50px;
  width: 20%;
 
  .icons{
    margin: 0 auto;
  }
  p{
    height: 120px;
  }

    &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }


}



  /*.card{
    background-color: darkslategrey;
    font-family: Raleway;
    font-size: 12px;
    box-shadow: 10px 10px 5px #888888;
    color: ghostwhite;
    width: 20%;

    h4 {

      font-family: Raleway;
    }
    img{

      height: 200px;
    }
  }*/
}

#about{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: Raleway;
  
   h1{
    padding: 10px;
    width: 100%;
 
    font-family: 'Bree Serif', serif;
    padding-bottom: 3px;
    text-shadow: 1px 1px papayawhip;
    margin-top: 50px;
    font-family: 'Bree Serif', serif;

    }

  article{
    height:450px;
    width: 90%;
    background-color: ghostwhite;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #888888;
    overflow-y: scroll;

    img{
      height: 300px;
      width: 325px;
      float: right;
      padding: 30px;
      margin-left: 50px;
      margin-top: 10px;
      border-left: 1px solid #f8f8f8;
    }

    h3{
       font-family: 'Bree Serif', serif;
       margin-left: 10px;
       padding-top:   10px;
    
    }
    p{
      padding-bottom: 5px;
      padding: 5px;
      padding-left: 10px;
    }
  }
}

#posts{
  height: 500px;
  min-height: 100vh;
  width: 100%;
  
   h1{
    padding: 10px;
    font-family: 'Bree Serif', serif;
    padding-bottom: 3px;
    text-shadow: 1px 1px papayawhip;
    margin-top: 50px;

    }
}

.entry{

   font-family: 'Bree Serif', serif;
   border-left: 3px solid #f8f8f8;
   margin-top: 25px;
 
   padding-left: 25px;
   background-color: darkslateblue;
   width: 60%;
}


footer{
  border-top: 1px solid black;
  height: 50px;
  text-align: center;
  font-family: Raleway;
  font-weight: bold;

}
